﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.calculator-holder {
    position: relative;
    top: 20%;
    transform: translateY(+25%);
}

.calculator {
    width: 300px;
    height: 300px;
    background-color: #eeeeee;
    border: 2px solid #CCCCCC;
    margin: 0 auto 0 auto;
    padding-left: 5px;
    padding-bottom: 5px;
}

    .calculator td {
        height: 16.66%;
    }

.calc_td_result {
    text-align: center;
}

.calc_result {
    width: 90%;
    text-align: right;
}

.calc_td_calculs {
    text-align: center;
}

.calc_calculs {
    width: 90%;
    text-align: left;
}

.calc_td_btn {
    width: 25%;
    height: 100%;
}

.calc_btn {
    width: 90%;
    height: 90%;
    font-size: 20px;
}
