﻿@page
@model webapp.Pages.CalculatorModel
@{
}
    <body>
        <form id="form1" runat="server">
            <div class="calculator-holder">
                <table class="calculator" id="calc">
                    <table border="1">
                        <tr>
                            <th width="100px">Name</th>
                            <th width="100px">Value</th>
                        </tr>
                        <tr>
                            <td>Day</td>
                            <td>@DateTime.Now.Day</td>
                        </tr>
                        <tr>
                            <td>Hour</td>
                            <td>@DateTime.Now.Hour</td>
                        </tr>
                        <tr>
                            <td>Minute</td>
                            <td>@DateTime.Now.Minute</td>
                        </tr>
                        <tr>
                            <td>Second</td>
                            <td>@DateTime.Now.Second</td>
                        </tr>
                        </td>
                    </table>
                </table>
            </div>
        </form>
    </body>
