﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h4 class="display-4">DirectTV Control</h4>

        <div class="calculator-holder">
            <form>
                <table class=" calculator">
                    <tbody>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="power" asp-action="OnButtonClick">On/Off</button></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="1" asp-action="OnButtonClick">1</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="2" asp-action="OnButtonClick">2</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="3" asp-action="OnButtonClick">3</button></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="4" asp-action="OnButtonClick">4</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="5" asp-action="OnButtonClick">5</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="6" asp-action="OnButtonClick">6</button></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="7" asp-action="OnButtonClick">7</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="8" asp-action="OnButtonClick">8</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="9" asp-action="OnButtonClick">9</button></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="0" asp-action="OnButtonClick">0</button></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                            <td class="calc_td_btn" style="text-align: center;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="up" asp-action="OnButtonClick">Up</button></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="left" asp-action="OnButtonClick">Left</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="enter" asp-action="OnButtonClick">Enter</button></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="right" asp-action="OnButtonClick">Right</button></td>
                        </tr>
                        <tr>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                            <td class="calc_td_btn" style="text-align: center;"><button class="calc_btn" name="button" value="down" asp-action="OnButtonClick">Down</button></td>
                            <td class="calc_td_btn" style="text-align: center;"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div>
            @TempData["buttonValue"]
        </div>
    </div>




